<script type="text/template" id="templates/settings/changelog.html">
<div class="settings-section settings-section-changelog">
  <div class="settings-title">
    Piskel Sharp Changelog
  </div>
  <div class="settings-item">
    <span> View the <span class="changelog-highlight">version history</span> of Piskel Sharp, starting from the top.</span>
    <div class="changelog-section">
      <button type="button" class="button button-primary changelog-sharp-button">View Changelog</button>
    </div>
  </div>
  <div class="settings-title">
    Piskel Changelog
  </div>
  <div class="settings-item">
    <span> View the <span class="changelog-highlight">version history</span> of Piskel, starting from the top.</span>

    <div class="changelog-section">
      <button type="button" class="button button-primary changelog-button">View Changelog</button>
    </div>
  </div>
  <div class="settings-title">
    Future Update Plans
  </div>
  <div class="settings-item">
    <span> Wondering about what <span class="changelog-highlight">features</span> are coming to Piskel Sharp? Check here, updated per-major. </span>
    <div class="changelog-section">
      <button type="button" class="button button-primary future-plans-button">View Planned Featuers</button>
    </div>
  </div>
  <div class="settings-title">
    Piskel Sharp Credits
  </div>
  <div class="settings-item">
    <span> Look at who <span class="changelog-highlight">made this</span> fork of Piskel, and every contributor in a stylish manor.</span>
    <div class="changelog-section">
      <button type="button" class="button button-primary credits-button">View Credits</button>
    </div>
  </div>
</div>
</script>