<script type="text/html" id="templates/settings/preferences.html">
  <div class="settings-section settings-section-preferences">
    <div class="settings-title">Settings</div>
    <div class="tab-list">
      <div class="tab-item" data-tab-id="misc">Editor</div>
      <div class="tab-item" data-tab-id="grid">Grid</div>
      <div class="tab-item" data-tab-id="tile">Tiling</div>
    </div>
    <div class="tab-content"></div>
    <div class="settings-version-info">
      Piskel Sharp
      <span rel="tooltip" data-placement="bottom" title="View Release Notes">
        <a  class="settings-version" target="_blank"
            href="https://github.com/that-one-bit/piskel-sharp/releases/tag/v@@releaseVersion">v@@releaseVersion</a>
      </span>
    </div>
    <div class="settings-based-info">
      Based on PFP:
      <span rel="tooltip" data-placement="bottom" title="View Release Notes">
        <a  class="settings-version" target="_blank"
            href="https://blog.gingerbeardman.com/2023/05/10/piskel-for-playdate/">1.16.1</a>
      </span>
    </div>
  </div>

</script>
