/************************************************************************************************/
/* Changelog Panel                                                                              */
/************************************************************************************************/

.changelog-section {
  margin: 10px 0;
}

.changelog-highlight {
  font-weight: bold;
  color: var(--sharp-light-gold);
}