<script type="text/html" id="templates/settings/preferences/misc.html">
  <div class="preferences-panel-misc">
    <div class="settings-item">
      <label>Background</label>
      <div class="background-picker-wrapper">
<div class="background-picker high-light-picker-background selected" data-background="high-light-canvas-background" rel="tooltip" data-placement="bottom" data-original-title="light / high contrast">
        </div>
        <div class="background-picker low-light-picker-background" data-background="low-light-canvas-background" rel="tooltip" data-placement="bottom" title="light / low contrast">
        </div>
        <div class="background-picker high-medium-light-picker-background" data-background="high-medium-light-canvas-background" rel="tooltip" data-placement="bottom" title="medium light / high contrast">
        </div>
        <div class="background-picker low-medium-light-picker-background" data-background="low-medium-light-canvas-background" rel="tooltip" data-placement="bottom" title="medium light / low contrast">
        </div>
        <div class="background-picker very-low-medium-light-picker-background" data-background="very-low-medium-light-canvas-background" rel="tooltip" data-placement="bottom" title="medium light / very low contrast">
        </div>
        <div class="background-picker high-medium-dark-picker-background" data-background="high-medium-dark-canvas-background" rel="tooltip" data-placement="bottom" title="medium dark / high contrast">
        </div>
        <div class="background-picker low-medium-dark-picker-background" data-background="low-medium-dark-canvas-background" rel="tooltip" data-placement="bottom" title="medium dark / low contrast">
        </div>
        <div class="background-picker very-low-medium-dark-picker-background" data-background="very-low-medium-dark-canvas-background" rel="tooltip" data-placement="bottom" title="medium dark / very low contrast">
        </div>
        <div class="background-picker high-dark-picker-background" data-background="high-dark-canvas-background" rel="tooltip" data-placement="bottom" title="dark / high contrast">
        </div>
        <div class="background-picker low-dark-picker-background" data-background="low-dark-canvas-background" rel="tooltip" data-placement="bottom" title="dark / low contrast">
        </div>
      </div>
    </div>

    <div class="settings-item">
      <label>Layer opacity</label>
      <input type="range" class="settings-opacity-input layer-opacity-input" name="layer-opacity" min="0"  max="1" step="0.05"/>
      <span class="settings-opacity-text layer-opacity-text"></span>
    </div>

    <div class="settings-item">
      <label>Maximum FPS</label>
      <input type="text" class="textfield  textfield-small  max-fps-input" autocomplete="off" name="max-fps"/>
    </div>

    <div class="settings-item selector-item">
      <label style="display: block; text-align: center;">
        Color Format 
        <input type="checkbox" id="color-format-toggle" class="dropdown-toggle"> 
        <label for="color-format-toggle" class="dropdown-header"> 
          <span id="current-color-format-display" class="current-value">Hex</span> 
          <span class="arrow">▼</span> 
        </label> 
        <ul class="dropdown-options color-format-options"> 
          <li><button type="button" data-value="hex">Hex</button></li> 
          <li><button type="button" data-value="rgb">RGB</button></li> 
        </ul> 
      </label>
    </div>

    <div class="settings-item selector-item">
      <label style="display: block; text-align: center;">
        Language
        <input type="checkbox" id="locale-toggle" class="dropdown-toggle"> 
        <label for="locale-toggle" class="dropdown-header"> 
          <span id="current-locale-display" class="current-value">en_US</span> 
          <span class="arrow">▼</span> 
        </label> 
        <ul class="dropdown-options language-options"> 
          <li><button type="button" data-value="en_us">en_US</button></li> 
          <li><button type="button" data-value="es_mx">es_MX</button></li> 
        </ul> 
      </label>
    </div>

    <div class="settings-item">
      <label>
        Ignore warnings
        <input type="checkbox" value="1" class="ignore-warnings-checkbox" name="ignore-warnings-checkbox" />
      </label>
    </div>
  </div>
</script>